body {
    font-size:80%;
    font-family:trebuchet ms, lucida sans, arial, Helvetica, verdana;
    padding:0 0 1em;
}
a,
a:link,
#header h1 a:hover,
.posts .more a.arrow,
.posts .more a:link.arrow {
    text-decoration:none;
}
a:hover,
a:active,
.posts .more a,
.posts .more a:link {
    text-decoration:underline;
}
p,
ul {
    line-height:1.6em;
}
p {
    margin:0 0 1.2em;
}
ul,
ol {
    margin:0 0 1.2em 2ex;
}
ul li {
    list-style-type:disc;
    margin-left:3ex;
}
ol li 
{
    list-style-type:decimal;
    margin-left:3ex;
}
textarea {
    overflow:auto;
}
input.text,
textarea {
    border:1px solid;
    padding:.1em .3ex;
}
input.hinted,
textarea.hinted {
    font-style:italic;
}



/* BUTTONS
----------------------------------------------------------*/
a.button {
    outline:none;
}
input.button,
a.button img,
img.ui-datepicker-trigger {
    background:none;
    border:none;
    padding:2px;
}
img.ui-datepicker-trigger {
    margin-bottom:-5px;
}
input:hover.button,
a:hover.button img,
img:hover.ui-datepicker-trigger {
    border:1px solid;
    padding:1px;
}
input.button.remove,
a.button.remove img {
    border-color:#E6554B;
}
input.button.edit,
a.button.edit img {
    border-color:#F7DF62;
}
input.button.add,
a.button.add img {
    border-color:#87B960;
}
input.button.approve,
a.button.approve img {
    border-color:#7CBB65;
}
img:hover.ui-datepicker-trigger {
    border-color:#FFBD79;
}

/* MESSAGES
----------------------------------------------------------*/
.message {
    padding:8px 24px 8px 34px;
    margin:1.8em 0;
}
.message.info {
    border:1px solid #96B1CE;
    background:#E3EFF9 url(/Content/skins/default/images/information.png) no-repeat 9px 9px;
    font-weight:bold;
    color:#344F88;
    text-transform:capitalize;
}


/* HEADINGS   
----------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:1em 0 .2em;
    font-weight:bold;
}
h1 {
    font-size:200%;
}
h2 {
    font-size:160%;
}
h3 {
    font-size:125%;
}
h4, h5, h6 {
    font-size:100%;
}

h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-weight:normal;
}

h2.title {
    margin:0 0 .8em 5px;
}
.page.post h2.title {
    margin:0 0 .8em;
}
.editPage h2.title,
.editPost h2.title {
    margin-left:0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page {
    width:90%;
    max-width:1000px;
    margin:0 auto;
}
.post.page {
    width:auto;
}
#header {
    height:7.6em;
}
#header h1 {
    font-size:240%;
    margin:1.55em 0 0;
}
#main {
    margin:1.8em 0 .5em;
    padding:1.4em 0;
    border:12px solid;
    border-right:none;
    border-left:none;
    overflow:hidden;
}
#footer {
    overflow:hidden;
}
#footer .powered {
    float:right;
    text-transform:lowercase;
}
#footer .credits {
    float:left;
}
#footer .credits a {
    margin:2px 0 0 5px;
    display:block;
    float:left;
}
#footer .credits a#famfamfam {
    background:url(images/famfamfam.gif) no-repeat 0 0;
    height:16px;
    width:0;
    padding:0 0 0 13px;
    overflow:hidden;
    outline:none;
}
#footer .credits a:hover#famfamfam {
    background-position:0 -16px;
}

#footer .powered span,
#footer .powered a {
    display:block;
    float:left;
}
#footer .powered span {
    margin:6px 0 0;
}
#footer .powered a {
    background:url(images/oxite_logo.gif) no-repeat 0 0;
    height:20px;
    width:0;
    margin:0 .5ex 0 .8ex;
    padding:0 0 0 40px;
    overflow:hidden;
    outline:none;
}
#footer .powered a:hover {
    background-position:0 -20px;
}

/* SECTIONS
----------------------------------------------------------*/
.sections .primary {
    float:left;
    width:77%;
}
.sections .secondary {
    float:right;
    width:20%;
}
.secondary .sub {
    margin:0 .8ex;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    float:right;
    margin-left:0;    
}
ul#menu li 
{
    margin:0px;
    list-style-type:none;
    display:inline;    
}
ul#menu li a {
    padding:.9em .55ex;
    text-transform:lowercase;
    outline:none;
}
ul#menu li.selected a,
ul#menu li.selected a:link {
    font-weight:bold;
}

/* POST LIST
----------------------------------------------------------*/
ul.posts  
{
    margin:0;    
}
ul.posts li {
    margin:.1em 0 2.8em;
    list-style-type:none;
}
ul.posts li.last {
    margin-bottom:0;
}
.posts p {
    margin:.9em 0;
}
.posts h2.title {
    width:74%;
    margin:0 0 .15em 5px;
    line-height:1.2em;
}

.posts .posted,
.posts .more {
    font-size:88%;
}
.posts .posted {
    margin:.3em 3px 0 0;
    border-bottom:3px solid;
    text-align:right;
    margin-top:-2em;
}
.posts .more {
    margin:1em 0 0 5px;
    white-space:nowrap;
}
.posts .content {
    clear:both;
    padding:1.1em 0 0 5px;
    margin-top:0;
}

/* ENTRY
----------------------------------------------------------*/
.post,
form.search.main {
    padding:0 5px;
}
form.search.main fieldset {
    text-align:center;
    margin:0 0 .6em;
}
body.dyn form.search.main label,
body.dyn form.search.main input.button {
    display:none;
}
.post .gravatar {
    float:left;
    margin:0 8px 8px 0;
}
.post h2 {
    overflow:hidden;
}
.post .metadata {
    padding:2px 5px 2px 0;
    clear:both;
    margin:0 0 5px;
    font-size:90%;
    overflow:hidden;
}
.post .metadata .posted {
    margin:0;
    float:right;
}
form.search.main input.button,
form.login input.button,
.post input.submit.button,
.post button {
    border:1px solid;
    padding:0 5px 1px;
    margin:0;
    outline:none;
}
.post input.submit.button {
    font-weight:bold;
    padding:0 5px 1px;
}
.post button a {
    text-decoration:none;
}

/* ENTRY EDIT
----------------------------------------------------------*/
body.dyn .post .title label,
body.dyn .post .content label,
body.dyn .post li.input.type label,
body.dyn .post li.input.publish label {
    display:none;
}
body.dyn .post li.input.publish label.radio {
    display:inline;
}
.post label.radio {
    background-color:#f0f0f0;
    color:#426075;
}
.post .metadata.admin {
    background-color:#f0f0f0;
    color:#000;
    margin-bottom:10px;
    padding:5px 7px;
}
.post .metadata.admin label {
    background-color:#f0f0f0;
    color:#426075;
}
.post .metadata.admin .admin.buttons {
    float:right;
    margin:0;
}
.admin.buttons {
    text-align:right;
}
.admin.manage.buttons {
    float:right;
}
.admin.buttons form {
    display:inline;
    margin:0;
    padding:0;
}
.admin.buttons form fieldset {
    display:inline;
    margin:0 0 -4px;
}
.post .admin.buttons .button,
.post .admin.buttons button {
    margin:0 0 0 5px;
}
.post .admin.buttons input.submit {
    width:12ex;
    font-size:110%;
}
.post .admin.buttons input.submit,
.post .admin.buttons button {
    height:27px;
}
.post .admin.buttons button.cancel,
body.dyn .post .admin.buttons a.cancel {
    display:none;
}
body.dyn .post .admin.buttons button.cancel,
.post .admin.buttons a.cancel {
    display:inline;
}
.post .metadata.admin a:hover {
    text-decoration:none;
}
.post .metadata.admin fieldset {
    display:inline;
    border:1px solid #9cadbf;
    margin:0 0 -7px;
    padding:0 5px 4px;
}
body.dyn .post .metadata.admin fieldset {
    margin-bottom:-7px;
    padding:1px 0 0;
    border:none;
}
body.dyn .post .metadata.admin .publish fieldset {
    margin-bottom:-6px;
}
.post .metadata.admin legend {
    color:#9cadbf;
    font-weight:bold;
}
body.dyn .post .metadata.admin legend,
body.dyn .post .metadata.admin .tags label,
body.dyn .post .metadata.admin .slug label {
    display:none;
}
body.dyn .post .metadata.admin input.date {
    background-color:#f0f0f0;
    color:#9CADBF;
    border:none;
}
body.dyn .post .metadata.admin input.date.active {
    color:#42607f;
}
.post .metadata.admin ul {
    float:left;
    margin:2px 0 0;
}
.post .metadata.admin ul li {
    list-style-type:none;
    display:inline;
    margin:0;
}
.post.editPage .gravatar {
    display:none;
}
.post.editPost #post_title {
    width:99.1%;
}
.post.editPage #post_title {
    width:99.2%;
    height:1.2em;
}
.post.editPost #post_tags,
.post.editPage #post_tags {
   margin:0 0 0 2ex;
}
.post.editPost #post_tags,
.post.editPage #post_tags {
    width:52ex;
}
.post.editPost #post_area,
.post.editPage #post_parent {
    width:24ex;
}
.post.editPost #post_slug,
.post.editPage #post_slug {
    width:42ex;
}
body.dyn .post  li.input.slug {
    margin:0 5ex 0 0;
}
body.dyn .post  li.input.draft {
    margin:0 2ex 0 0;
}
body.dyn .post.editPost .input.page {
    display:none;
}
body.dyn .post.editPage .input.area {
    display:none;
}
.post #post_body,
.post #post_bodyShort {
    width:99.3%;
    margin:0 0 5px;
}
.post #post_body {
    height:35em;
}
.post #post_bodyShort {
    height:10em;
}
.post.editPage #post_bodyShort {
    display:none;
}

/* TAGS
----------------------------------------------------------*/
ul.tags {
    display:inline;
    margin:0;
}
.posts ul.tags li {
    padding:0 0 0 16px;
    background-position:0 0;
}
ul.tags li {
    padding:0 0 0 17px;
    list-style-type:none;
    margin:0;
    display:inline;
    background:url(/Content/skins/default/images/bullet_grey.png) no-repeat 1px 1px;
}
ul.tags li.first {
    padding:0;
    background-image:none;
}

/* PAGER
----------------------------------------------------------*/
.pager {
    height:2.2em;
}
.pager a {
    padding:.4em 1ex;
    border:1px solid #D8DFE4;
    margin:0 0 0 6px;
    display:block;
    float:right;
}
.pager a:hover {
    text-decoration:none;
    background-color:#F5F7F8;
}

/* COMMENTS
----------------------------------------------------------*/
.comments,
.comments form {
    margin:1.6em 0 0;
    padding:1.6em 0 0;
    border-top:1px solid #F0F0F0;
}
.comments .status {
    float:right;
    text-align:right;
    margin:0 5px 1.6em;
}
.comments .status h3 {
    margin-top:0;
}
.comments ul.commented {
    margin:0;
    color:#555;
}
.comments ul.commented li 
{
    list-style-type:none;
    margin:0 -1.2em .8em;
    padding:1.2em 1.2em .4em;
}
.comments ul.commented li.first {
    margin-top:.25em;
}
.comments ul.commented li.last {
    margin-bottom:0;
}
.comments ul.commented li.author {
    /*background-color:#FFFEEF;*/
}
.comments ul.commented li .name {
    width:100ex;
    margin:0 0 .25em;
}
.comments ul.commented li .name,
.comments ul.commented li .name .gravatar {
    float:left;
}
.comments ul.commented li .name p {
    padding:0 0 0 2ex;
    margin:0;
    overflow:hidden;
    white-space:nowrap;
}
.comments ul.commented li .text {
    clear:both;
    overflow:hidden;
    margin:0 0 0 56px;
    padding:0 0 0 2ex;
}
.comments form {
    clear:both;
    overflow:hidden;
}
.comments form.user fieldset {
    float:none;
}
.comments fieldset {
    float:left;
}
.comments fieldset legend,
body.dyn .post .comments fieldset legend,
body.dyn .comments form fieldset .name label,
body.dyn .comments form fieldset .email label,
body.dyn .comments form fieldset .url label,
body.dyn .comments form fieldset.comment label {
    display:none;
}
body.dyn .comments form .comment .subscribe label {
    display:inline;
}
.comments fieldset label,
.comments fieldset .help,
body.dyn .post .comments fieldset label,
body.dyn .post .comments fieldset .help {
    display:block;
}
.comments fieldset .remember,
.comments fieldset .subscribe {
    padding:0 2ex 0 0;
}
.comments fieldset .remember,
.comments fieldset .subscribe,
.comments fieldset .remember label,
.comments fieldset .subscribe label,
body.dyn .comments fieldset .remember label,
body.dyn .comments fieldset .subscribe label {
    display:inline;
}
.comments fieldset label span {
    font-size:80%;
}
.comments fieldset input.text {
    width:90%;
}
.comments fieldset textarea {
    width:99%;
    margin:0 0 .5em;
}
.comments fieldset textarea.authed {
    width:99.3%;
}
.comments fieldset.info {
    width:40%;
}
.comments fieldset.comment {
    width:60%;
}
.comments form.user fieldset.comment {
    width:auto;
}
.comments fieldset.info div {
    margin:0 0 1em;
}
.comments fieldset.info div.submit {
    margin-top:1em;
}
.comments form.user fieldset div.submit {
    margin:.5em 0 0;
}
.comments fieldset.info #comment_grav {
    margin:0 0 .2em;
    overflow:hidden;
    float:left;
}
.comments fieldset.info .gravatarhelp {
    overflow:hidden;
    padding:0 0 0 1.5ex;
}
.comments fieldset.info .name {
    clear:left;
}
.comments fieldset .help,
body.dyn .post .comments fieldset .help {
    display:none;
}
.comments fieldset .help,
.comments fieldset .field-validation-error {
    color:#AD5454;
}
.comments fieldset .field-validation-error {
    display:block;
}

/* ARCHIVES
----------------------------------------------------------*/
.archives h3 {
    margin-bottom:0;
}
.archives ul
{
    margin:0;
}
.archives li {
    list-style-type:none;
}
.archives ul.yearList li {
    margin:.6em 0 0;
    background:url(/Content/skins/default/images/bullet_toggle_minus_onoff.png) no-repeat -9999px 0;
}
.archives ul.archiveMonthList li
{
    margin:.2em 0;
}
.archives ul.archiveMonthList li.first {
    margin-top:0;
}
.archives ul.archiveMonthList li.last {
    margin-bottom:0;
}
.archives ul.yearList li.previous h4 span
{
    display:none;
}
body.dyn .archives ul.yearList li.previous h4 span
{
    display:inline;
}
body.dyn .archives ul.yearList li h4,
body.dyn .archives ul.yearList li ul
{
    margin:.2em .2ex;
}
body.dyn .archives ul.yearList li.previous {
    cursor:pointer;
    padding:.1em .2ex .2em 2ex;
    background:url(/Content/skins/default/images/bullet_toggle_plus_onoff.png) no-repeat 0 -25px;
    margin:0 -2ex;
}
body.dyn .archives ul.yearList li.previous.hover {
    background-position:0 6px;
}
body.dyn .archives ul.yearList li.previous.open {
    background:url(/Content/skins/default/images/bullet_toggle_minus_onoff.png) no-repeat -209px 6px;
}
body.dyn .archives ul.yearList li.previous.open.hover {
    background-position:0 6px;
}
body.dyn .archives ul.yearList li.previous ul {
    display:none;
}

/* SOME ADMIN STUFF
----------------------------------------------------------*/
.sub.admin.manage ul {
    margin:0;
}
.sub.admin.manage ul li {
    list-style-type:none;
    margin:.2em 0;
}

/* LOGIN FORM
----------------------------------------------------------*/
form.login div {
    margin:0 0 1em 5px;
}
form.login div.submit {
    margin-bottom:0;
}
body.dyn form.login label {
    display:block;
}
body.dyn form.login .remember label {
    display:inline;
}
body.dyn form.login input.text {
    width:42ex
}

/* SEARCH FORM
----------------------------------------------------------*/
.secondary .sub.search {
    margin:0;
}
.secondary .sub.search form#search {
    margin:.4em 0;
}
.secondary .sub.search form#search input.text {
    width:97%;
}
body.dyn form#search label,
body.dyn form#search input.button {
    display:none;
}
form#search input.button {
    text-transform:uppercase;
    margin:0 0 0 .2ex;
    width:10ex;
}

/* SEARCH
----------------------------------------------------------*/
.search .results {
    float:right;
}
.search form#search {
    margin:0 0 1em;
}
.search form#search label {
    display:none;
}
.search form#search input.text {
    width:30ex;
}
.search .criteria {
    font-size:90%;
    color:#777;
}
.noresult {
    text-align:center;
}

/* CONTENT
----------------------------------------------------------*/
.content {
    margin:1.1em 0 .8em;
    overflow:hidden;
}

/* FLAGS
----------------------------------------------------------*/
.flags {
    float:left;
    margin:0 10px 0 0;
}
.flags form {
    padding:0;
    margin:0;
}
.flags form.flag {
    position:relative;
    border:none;
}
.flags form.flag label {
    background-color:#222;
    color:#aaa;
    font-size:1.1em;
    padding:3px 6px;
    position:absolute;
    top:0;
    left:24px;
    white-space:nowrap;
    display:none;
}
.flags form.flag label.show {
    display:block;
}
.flagged {
    overflow:hidden;
}
.flagged.remove {
    display:none;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear:both;
}

.error {
    color:#ff0000;
}

#menucontainer {
    float:right;
    clear:right;
}

#title {
    float:left;
}

#logindisplay {
    float:right;
    margin:1.75em 0;
}

#logindisplay a {
    text-transform:lowercase;
}

#logindisplay span.username {
	font-weight:bold;
}

.input-validation-error {
    border:1px solid;
}

.validation-summary-errors {
    font-weight:bold;
}

.tagCloud {
    text-align:center;
}

.tagCloud li {
    list-style:none;
    display:inline;
}

.tagCloud li a {
    white-space:nowrap;
    line-height:1.2em;
}

.tagCloud .t1 {
	 font-weight:100;
	 font-size: 0.8em;
}

.tagCloud .t2 {
	font-weight:200;
	font-size: 1.0em;
}

.tagCloud .t3 {
	font-weight:300;
	font-size:1.1em;
}

.tagCloud .t4 {
	font-weight:600;
	font-size:1.3em;
}

.tagCloud .t5 {
	font-weight:700;
	font-size:1.5em;
}

.tagCloud .t6 {
	font-weight:800;
	font-size:1.7em;
}

.tagCloud .t7 {
	font-weight:900;
	font-size:1.9em;
}




/* COLORS
----------------------------------------------------------*/
html {
    color:#373737;
    background-color:#fff;
}
a,
a:link,
ul#menu li a:hover,
#logindisplay a:hover,
#logindisplay .logout a:hover {
    color:#dc2525;
}
ul#menu li a,
body.dyn form.login label {
    color:#727272;
}
#logindisplay a {
    color:#b8b8b8;
}
#header h1 a,
#header h1 a:hover,
ul#menu li.selected a,
ul#menu li.selected a:hover,
body.dyn form.login .remember label {
    color:#373737;
}
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
input.hinted,
textarea.hinted,
.posts .more,
.posts .posted,
#logindisplay .logout a {
    color:#8d8d8d;
}
.post .metadata {
    color:#777;
}
#footer .powered {
    color:#b8b8b8;
}

#main,
.posts .posted {
    border-color:#f0f0f0;
}

#logindisplay {
    color:#727272;
}
#logindisplay .login {
    color:#e0e0e0;
}
#logindisplay .logout {
    color:#d3d3d3;
}

input.text,
textarea,
input.text.active,
textarea.active {
    background-color:#fff;
    border-color:#f0f0f0;
}
input.text.hinted,
textarea.hinted {
    background-color:#fdfdfd;
    color:#727272;
}
.post .metadata.admin input.text.hinted,
.post .metadata.admin input.text.active {
    border-color:#fff;
}

form.search.main input.button,
form.login input.button,
.post input.submit.button,
.post button {
    border-color:#e0e0e0;
    color:#373737;
    background-color:#ebebeb;
}
form.search.main input:hover.button,
form.login input:hover.button,
.post input:hover.submit.button,
.post button:hover {
    color:#373737;
    background-color:#e0e0e0;
    border-color:#d3d3d3;
}

.field-validation-error {
    color:#ff0000;
}
.input-validation-error {
    border-color:#ff0000;
    background-color:#ffeeee;
}
.validation-summary-errors {
    color:#ff0000;
}
